name: My Simple Workflow

on:
  workflow_dispatch:
    inputs:
      example_input:
        description: 'Enter file url'
        required: true
        default: ''

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install required tools
        run: |
          sudo apt-get update
          sudo apt-get install -y curl jq wget

      - name: Fetch IP information
        run: |
          echo "Fetching IP information from ipinfo.io..."
          ip_info=$(curl -s "https://ipinfo.io/json?token=7c14babcefd5b9")
          echo "IP info fetched successfully."
          echo "$ip_info" > ip_info.json

      - name: Display Raw IP Info
        run: |
          echo "Raw IP Info:"
          cat ip_info.json

      - name: Parse and Display IP Info
        run: |
          ip_address=$(jq -r '.ip' ip_info.json)
          city=$(jq -r '.city' ip_info.json)
          region=$(jq -r '.region' ip_info.json)
          country=$(jq -r '.country' ip_info.json)

          echo "IP Address: $ip_address"
          echo "City: $city"
          echo "Region: $region"
          echo "Country: $country"

      - name: Print the custom input
        run: |
          echo "The custom input is: ${{ github.event.inputs.example_input }}"
          wget "${{ github.event.inputs.example_input }}"
